@charset 'utf-8';
#sticky-note-container{
  width: 300px;
  height: 400px;
}
.note{
  background-color: aliceblue;
  padding: 10px;
  cursor: pointer;
}

.note > input[type="text"] {
  width: 90%;
  height: 5rem;
}